spring:
  application:
    name: backend
  data:
    mongodb:
      host: localhost
      port: 27017
      database: team-work-test
      username: team-work-tester
      password: password
      authentication-database: team-work-test
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/team-work-test
    username: team-work-tester
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database: mysql
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1